version: '3.8' # version of docker compose 
services:
  app:
    environment:
      - GMX_USER=${GMX_USER}
      - GMX_PASSWORD=${GMX_PASSWORD}
      - NL_RECIPIENT=${NL_RECIPIENT}
      - MISTRAL_API_KEY=${MISTRAL_API_KEY}
    build:
      context: ../../python
      dockerfile: Dockerfile.python
    volumes:
      - ../../python:/app
      - .env/:/app/.env
    ports:
      - "8000:8000" # Change the ports according to your application
    restart: always

    command: cron -f
