services:
  app:
    environment:
      - NL_RECIPIENT=${NL_RECIPIENT}
      - MISTRAL_API_KEY=${MISTRAL_API_KEY}
      - RESEND_API_KEY=${RESEND_API_KEY}
      - RESEND_FROM=${RESEND_FROM}
    build:
      context: ../../python
      dockerfile: Dockerfile.python
    volumes:
      - ../../python:/app
    ports:
      - "8000:8000"
    restart: always
    command: >
      bash -c "env > /etc/environment && cron -f"
