services:
  app:
    environment:
      - GMX_USER=${GMX_USER}
      - GMX_PASSWORD=${GMX_PASSWORD}
      - NL_RECIPIENT=${NL_RECIPIENT}
      - MISTRAL_API_KEY=${MISTRAL_API_KEY}
    build:
      context: ../../python
      dockerfile: Dockerfile.python
    volumes:
      - ../../python:/app
    ports:
      - "8000:8000"
    restart: always
    command: >
      bash -c "env > /etc/environment && cron -f"
