name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Lint (ruff)
        run: uv run ruff check .

      - name: Format (ruff)
        run: uv run ruff format --check .

      - name: Format (mdformat) #TODO:Find a better way to format markdown files
        run: uv run mdformat --check README.md

      - name: Tests (pytest)
        run: uv run pytest

      - name: Build container
        run: docker compose build
        env:
          TAG: ci
